@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);

/* 기본(웹) 공통 CSS */
body {
    color: #282522;
}

.inner {
    width: 1440px;
    margin: 0 auto;
}

h1 {
    font-family: "Noto Serif KR", serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 62px;
}

h2 {
    font-family: "Noto Serif KR", serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 52px;
}

h3 {
    font-family: "Noto Serif KR", serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 42px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -1%;
}

main {
    height: auto;
}

.intro {
    width: 100%;
    height: 730px;
    padding: 180px 0 60px;
    margin: 0 auto;
    background: url(../images/brand_img/Brand-Intro-Img.png) no-repeat center/cover;
}

.intro .content .eyebrow {
    color: #fff;
    margin-bottom: 10px;
}

.intro .content-text {
    color: #fff;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.intro .content-text span {
    font-size: 14px;
    font-weight: 600;
}