@charset "utf-8";
@import url(reset.css);

.header {
    height: 80px;
    background: #fff;
    padding: 10px 0;
}

.header .inner {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header .inner .logo {
    width: 85px;
    height: 57px;
}

.header .inner .logo img {
    width: 100%;
    height: 100%;
}

.header .inner .gnb ul {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}