@charset "utf-8";
@import url(reset.css);

.header {
    width: 100%;
    height: 80px;
    padding: 10px 0;
    transition: 0.5s;

    position: fixed;
    z-index: 100;
}

.header:hover,
.heaer:focus {
    background: #fff;
}

.header .inner {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header .inner .logo {
    width: 85px;
    height: 57px;
}

.header .inner .logo img {
    width: 100%;
    height: 100%;
}

.header .inner .gnb ul {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    transition: 0.5s;
}

.header .inner .gnb ul li a:hover {
    font-weight: 800;
}

.header:hover .inner .gnb ul {
    color: #282828;
}